# Dependencies & build output
node_modules/
dist/

# Cordova generated
cordova/platforms/
cordova/plugins/
cordova/www/
app-release.aab
app-release.apk

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editors & IDEs
.vscode/
.idea/
*.swp
*.swo
